
<div class="container">
    <div class="row mbr-white">
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>Contacts</strong></h5>
            <ul class="list mbr-fonts-style display-7">
                <li class="mbr-text item-wrap">0 (800) 123 45 67</li> 
                <li class="mbr-text item-wrap">info@roboleverage.com</li> 
                <li class="mbr-text item-wrap">200 Brum Street, London, UK</li>  
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>Quick Links</strong></h5>
            <ul class="list mbr-fonts-style display-7">
                <a href="/contact" class="mbr-text item-wrap"><span style="color: #ffffff;">&gt;</span>  Contact</a><br>         
                <a href="/about" class="mbr-text item-wrap"><span style="color: #ffffff;">&gt;</span> About Us</a><br>
                <a href="/services" class="mbr-text item-wrap"><span style="color: #ffffff;">&gt;</span> Services</a><br>
                <a href="/exchanges" class="mbr-text item-wrap"><span style="color: #ffffff;">&gt;</span> exchanges</a>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>Terms</strong>
            </h5>
            <ul class="list mbr-fonts-style display-7">
                <a href="/privacy-policy" class="mbr-text item-wrap"> <span style="color: #ffffff;">&gt;</span> Privacy policy</a><br>
                <a href="/term-and-condition" class="mbr-text item-wrap"> <span style="color: #ffffff;">&gt;</span> Terms and condition</a><br>
                <a href="refund-policy" class="mbr-text item-wrap"><span style="color: #ffffff;">&gt;</span> Refund policy</a><br>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-5">
                <strong>About us</strong>
            </h5>
            <ul class="list mbr-fonts-style display-7">
                <p class="mbr-text mb-4" style="color: rgb(255, 255, 255);">
                    We enable you harness ready-to-deploy strategies to customizable bots, our platform serves all experience levels, supported by round-the-clock assistance.</p>
                </ul>
        </div>
        <div class="col-12 mt-5 footer-col">
            <div class="mbr-section-btn align-left"><a class="btn btn-primary display-7" href="https://mobiri.se">Sign Up</a>
                <a class="btn btn-primary-outline display-7" href="https://mobiri.se">Trade now</a></div>

            <div class="social-row mt-2 display-7">
                <div class="soc-item">
                    <a href="https://mobiri.se/">
                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://mobiri.se/">
                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://mobiri.se/">
                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                    </a>
                </div>
                <div class="soc-item">
                    <a href="https://mobiri.se/">
                        <span class="mbr-iconfont socicon-logmein socicon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <p class="mbr-text mb-0 mbr-fonts-style copyright align-center display-7">
                © Copyright 2030 Mobirise - All Rights Reserved
            </p>
        </div>
    </div>
</div>