<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v6.1.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v6.1.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/arrow20-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Display:400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Display:400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Text:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Text:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=aYpOU5"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=aYpOU5" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu6 cid-uZRPBDpXD3" once="menu" id="menu06-0">
	
    <% include ./partials/nav %>
	
</section>

<section data-bs-version="5.1" class="header19 cid-uLjGiileOd" id="header19-1c">
  

  
  
  <div class="container">
    <div class="row">
      <div class="content-wrap col-12 col-md-8">
        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1"><strong>Contact us</strong></h1>
        <p class="mbr-fonts-style mbr-text mb-4 display-7">
            harness ready-to-deploy strategies supported by round-the-clock assistance</p>
        
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="contacts01 cid-uLjG7HZ4Ks" id="contacts01-1b">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Contacts</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 active">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-4 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+12345678910" class="text-primary">0 800 123 45 67</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-4 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@site.com" class="text-primary">info@roboleverage.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-4 display-5">
                            <strong>Address</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            00 Brum Street, London, UK
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6">
                <div class="item-wrapper">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-4 display-5">
                            <strong>Working Hours</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            9:00 - 18:00
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="footer1 cid-uZSOypcEJl" once="footers" id="footer01-7">
	
    <% include ./partials/footer %>
  </section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/masonry/masonry.pkgd.min.js"></script>  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>  <script src="assets/countdown/countdown.js"></script>  <script src="assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>  <script src="assets/theme/js/script.js"></script>  
    
    
  </body>
  </html>