<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.25, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.25, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-analytica-logo-removebg-preview-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>digital</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=dhT4qP"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=dhT4qP" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu6 cid-uGq1pbuHYk" once="menu" id="menu06-h">
	<% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header13 cid-uLrSfrWqqE" id="header13-1j">
  

  
  

  <div class="align-center container">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-5 content-head">
        <h1 class="mbr-section-title mbr-fonts-style display-1"><strong>Institutional-Grade Crypto Asset Management</strong></h1>
        <p class="mbr-text mbr-fonts-style mt-4 display-7">
          The average investor leaves 27% annual returns on the table by self-managing. How much could you gain?&nbsp;A data-driven, disciplined approach to growing and preserving your digital wealth whether you're a beginner or a seasoned investor.</p>
        <div class="mbr-section-btn mt-4"><a class="btn btn-primary display-7" href="/users/register">Get started</a></div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <img src="assets/images/custody-3-1-720x720.jpg" alt="Mobirise Website Builder" title="">
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features19 cid-uLzxUusMNf" id="features019-1k">
	

	
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 mb-5 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>How We Help You Win</strong></h3>
				
			</div>
		</div>
		<div class="row">
			<div class="item features-without-image col-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<div class="img-wrapper mb-3">
							<img class="" src="assets/images/risk.jpg">
						</div>
						<h5 class="card-title mbr-fonts-style display-5"><strong>Risk-Managed Growth</strong></h5>
						<p class="card-text mbr-fonts-style display-7">
							Smart diversification across high-growth assets and stable hedges.
						</p>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<div class="img-wrapper mb-3">
							<img class="" src="assets/images/ai.jpg">
						</div>
						<h5 class="card-title mbr-fonts-style display-5"><strong>&nbsp;AI-Optimized Portfolios&nbsp;</strong></h5>
						<p class="card-text mbr-fonts-style display-7">
							 Algorithms adjust allocations in real-time based on market conditions
						</p>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<div class="img-wrapper mb-3">
							<img class="" src="assets/images/247.jpg">
						</div>
						<h5 class="card-title mbr-fonts-style display-5"><strong>24/7 Monitoring &amp; Protection</strong></h5>
						<p class="card-text mbr-fonts-style display-7">
							 Proactive threat detection against hacks, scams, and volatility.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="start article2 cid-uLzyMwN20Y" id="article02-1l">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/home.jpg" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Who This Is For</strong></h1>
					<p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Investors who want crypto exposure without daily stress,&nbsp;HODLers ready to turn passive holdings into active growth,&nbsp;Traders seeking higher returns with lower risk and&nbsp;Institutions needing compliant, scalable crypto management</p>
					<div class="mbr-section-btn align-left mt-3"><a class="btn btn-primary-outline display-7" href="/users/register">Get started</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section data-bs-version="5.1" class="clients04 cid-uLzzCCvZNt" id="clients04-1m">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Our Clients</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/1.png" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/2.png" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/3.png" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/4.png" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/5.png" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/6.png" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="people04 cid-uLzzHZ6R9U" id="people04-1n">
	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Testimonials</strong>
				</h3>
				
			</div>
		</div>
		<div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							I can't express how much I adore the unique clothing pieces from this small creative
							business. Each piece has its own character and charm. I feel like I'm wearing a work of art!
						</p>
						<div class="img-wrapper mt-4 mb-2">
							<img src="assets/images/team1.jpg" alt="" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Sarah</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							I've been a customer for years, and I'm always excited to see the latest creations. The
							designs are fresh and exciting, and the customer service is top-notch.
						</p>
						<div class="img-wrapper mt-4 mb-2">
							<img src="assets/images/team2.jpg" data-slide-to="1" data-bs-slide-to="1" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Rachel</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							I keep coming back for more because I can't find clothing like this anywhere else. It's not
							just clothing; it's a statement. I'm proud to support such a talented small business.
						</p>
						<div class="img-wrapper mt-4 mb-2">
							<img src="assets/images/team4.jpg" data-slide-to="2" data-bs-slide-to="2" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Emily</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							As a fashion enthusiast, I appreciate the craftsmanship in every piece. These clothes are
							comfortable, stylish, and perfect for any occasion. I'm hooked!
						</p>
						<div class="img-wrapper mt-4 mb-2">
							<img src="assets/images/team3.jpg" data-slide-to="3" data-bs-slide-to="3" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>David</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							The quality and attention to detail are truly impressive. Thank you for making me feel stylish!
						</p>
						<div class="img-wrapper mt-4 mb-2">
							<img src="assets/images/team6.jpg" data-slide-to="4" data-bs-slide-to="4" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Michael</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							I've received so many inquiries about where I get my outfits. Keep up the fantastic work!
						</p>
						<div class="img-wrapper mt-4 mb-2">
							<img src="assets/images/team2.jpg" data-slide-to="5" data-bs-slide-to="5" alt="">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Jessica</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section data-bs-version="5.1" class="footer1 cid-uGq2f3bKSD" once="footers" id="footer01-6">
	
	<% include ./partials/footer %>
	  
	  
  </section><script type="text/plain" data-src="assets/bootstrap/js/bootstrap.bundle.min.js"></script><script src="assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script><script src="assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script><script type="text/plain" data-src="assets/smoothscroll/smooth-scroll.js"></script><script type="text/plain" data-src="assets/ytplayer/index.js"></script><script type="text/plain" data-src="assets/dropdown/js/navbar-dropdown.js"></script><script type="text/plain" data-src="assets/theme/js/script.js"></script>

  <% include ./partials/chat %>
	
  <input name="cookieData" type="hidden" data-cookie-cookiesAlertType='2' data-cookie-customDialogSelector='null' data-cookie-colorText='#424a4d' data-cookie-colorBg='rgb(255, 255, 255)' data-cookie-opacityOverlay='0' data-cookie-bgOpacity='100' data-cookie-textButton='ACCEPT' data-cookie-rejectText='REJECT' data-cookie-colorButton='#2229d1' data-cookie-rejectColor='#ffffff' data-cookie-colorLink='#424a4d' data-cookie-underlineLink='true' data-cookie-text="We use cookies to give you the best experience as specified in the <a href='/privacy-policy'>cookie policy</a>. Rejecting cookies may make some features unavailable.">
	  <input name="animation" type="hidden">
	</body>
  </html>