<!DOCTYPE html>
<html>

<head>
  <!-- Site made with Mobirise Website Builder v5.9.25, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.25, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/c-analytica-logo-removebg-preview-96x96.png" type="image/x-icon">
  <meta name="description" content="">


  <title>investing</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload"
    href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
    as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
  </noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=OH5jH4">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=OH5jH4" type="text/css">




</head>

<body>

  <section data-bs-version="5.1" class="menu menu6 cid-uGq1pbuHYk" once="menu" id="menu06-9">
    <% include ./partials/nav %>
  </section>

  <section data-bs-version="5.1" class="header09 startm5 cid-uLjDGKdIw4" id="header09-1a">

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(0, 0, 0);"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="content-wrap col-12 col-md-8">
          <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1"><strong>Crypto investing made
              easy</strong></h1>

          <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">
            We’re here to help you invest in crypto with a managed portfolio of Bitcoin and Ethereum ETFs. cut through
            the noise and invest like the pros—without the stress, the guesswork, or the sleepless nights?
          </p>
          <div class="mbr-section-btn"><a class="btn btn-primary display-7" href="/users/register">Get started</a></div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="features10 cid-uKn22WX1qy" id="features010-10">




    <div class="container">

      <div class="row">
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="card-box align-left">
              <div class="iconfont-wrapper mb-3">
                <span class="mbr-iconfont mbrib-magic-stick" style="font-size: 100px;"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Crypto made convenient.</strong></h5>
              <p class="card-text mbr-fonts-style mb-3 display-7">
                Investing in crypto ETFs lets you tap the market without the hassle of direct ownership or trading.
              </p>

            </div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="card-box align-left">
              <div class="iconfont-wrapper mb-3">
                <span class="mbr-iconfont mbrib-align-center" style="font-size: 100px;"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Automated rebalancing.</strong></h5>
              <p class="card-text mbr-fonts-style mb-3 display-7">
                We automatically adjust your portfolio based on your account balance and market movements to help manage
                risk.
              </p>

            </div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="card-box align-left">
              <div class="iconfont-wrapper mb-3">
                <span class="mbr-iconfont mbrib-setting2" style="font-size: 100px;"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Diversified investing.</strong></h5>
              <p class="card-text mbr-fonts-style mb-3 display-7">
                Crypto can provide diversification as part of your larger investing strategy at Entryanalytica.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="numbers01 cid-uKn2IZYli1" id="numbers01-14">


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 content-head">
          <div class="mbr-section-head mb-5">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Crypto Investing on
                Autopilot</strong></h4>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="item features-without-image col-12 col-md-6 col-lg-4 active">
          <div class="item-wrapper">
            <div class="item-content">
              <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number display-1">
                <strong>01.</strong>
              </h5>
              <h4 class="card-title mbr-fonts-style display-5"><strong>Pick Your strategy</strong></h4>
              <p class="card-text mbr-fonts-style mt-0 mb-3 display-7">
                Choose between setting It and forgetting It balanced growth or hyper growth</p>
              <div class="mbr-section-btn item-footer">
                <a href="/users/register" class="btn item-btn btn-primary display-7">Learn More</a>
              </div>
            </div>

          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="item-content">
              <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number display-1">
                <strong>02.</strong>
              </h5>
              <h4 class="card-title mbr-fonts-style display-5"><strong>Fund Your Account</strong></h4>
              <p class="card-text mbr-fonts-style mt-0 mb-3 display-7">
                Add funds to your&nbsp;wallet. Start with as little as $100.</p>
              <div class="mbr-section-btn item-footer">
                <a href="/users/register" class="btn item-btn btn-primary display-7">Learn More</a>
              </div>
            </div>

          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="item-content">
              <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number display-1">
                <strong>03.</strong>
              </h5>
              <h4 class="card-title mbr-fonts-style display-5"><strong>Let the us Work</strong></h4>
              <p class="card-text mbr-fonts-style mt-0 mb-3 display-7">
                Our system monitors markets 24/7, re-balances automatically and&nbsp;ends you plain-English updates</p>
              <div class="mbr-section-btn item-footer">
                <a href="/users/register" class="btn item-btn btn-primary display-7">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section data-bs-version="5.1" class="clients04 cid-uKn2sKNEm6" id="clients04-11">


    <div class="container-fluid">
      <div class="row justify-content-center mb-5">
        <div class="col-12 content-head">
          <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Supported exchanges</strong>
            </h4>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="assets/images/1.svg" alt="Mobirise Website Builder" title="" data-slide-to="1"
                data-bs-slide-to="1">
            </div>

          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="assets/images/2.svg" alt="Mobirise Website Builder" title="" data-slide-to="2"
                data-bs-slide-to="2">
            </div>

          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="assets/images/2.svg" alt="Mobirise Website Builder" title="" data-slide-to="3"
                data-bs-slide-to="3">
            </div>

          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="assets/images/4.svg" alt="Mobirise Website Builder" title="" data-slide-to="4"
                data-bs-slide-to="4">
            </div>

          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="assets/images/5.svg" alt="Mobirise Website Builder" title="" data-slide-to="5"
                data-bs-slide-to="5">
            </div>

          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="assets/images/6.svg" alt="Mobirise Website Builder" title="" data-slide-to="6"
                data-bs-slide-to="6">
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section data-bs-version="5.1" class="features025 cid-uKn2CJVXXz mbr-fullscreen" id="features025-13">





    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-12">
          <div class="card-wrapper">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                <img class="w-100" src="assets/images/accesstoadvancedcharts-4.svg" alt="Mobirise Website Builder">
              </div>
              <div class="col-12 col-lg col-md-12">
                <div class="text-wrapper align-left">
                  <h5 class="mbr-section-title mbr-fonts-style mb-4 display-5"><strong>We built the simplest, smartest
                      way to grow your crypto portfolio.</strong></h5>

                  <p class="mbr-text mbr-fonts-style mb-4 display-7">
                    We rebuilt crypto investing from the ground up for normal people. No jargon. No hype. Just smart,
                    automated wealth-building.&nbsp;&nbsp;Our algorithms analyze thousands of data points to spot trends
                    before they peak and&nbsp;Invest in curated baskets, Your portfolio adjusts to lock in gains and cut
                    losers with no manual work needed.<br>
                  </p>
                  <div class="mbr-section-btn mt-3">
                    <a class="btn btn-lg btn-primary display-7" href="/users/register">Start investing</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="pricing03 cid-uKn2LJwTfV" id="pricing03-15">



    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 content-head">
          <div class="mbr-section-head mb-5">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Pricing plan</strong>
            </h4>

          </div>
        </div>
      </div>
      <div class="row">

        <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
          <div class="item-wrapper">
            <div class="item-head">
              <h5 class="item-title mbr-fonts-style mb-0 display-5">
                <strong>Hypergrowth</strong>
              </h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                <strong>$1,000+</strong>
              </h6>
            </div>
            <div class="item-content">
              <p class="mbr-text mbr-fonts-style display-7">
                Higher risk, higher potential rewards
              </p>
              <div class="mb-4">
              </div>
              <div class="counter-container mbr-text mbr-fonts-style display-7">
                <ul>
                  <li>Up to 400% monthly ROI</li>
                  <li>Duration of 1 - 4 months</li>
                  <li>Weekly Bonuses</li>
                </ul>
              </div>
            </div>
            <div class="mbr-section-btn item-footer">
              <a href="/users/register" class="btn item-btn btn-primary display-7">Invest now</a>
            </div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb active">
          <div class="item-wrapper">
            <div class="item-head">
              <h5 class="item-title mbr-fonts-style mb-0 display-5"><strong>Balanced Growth</strong></h5>
              <h6 class="item-subtitle mbr-fonts-style mb-0 display-7">
                <strong>$5,000+</strong>
              </h6>
            </div>
            <div class="item-content">
              <p class="mbr-text mbr-fonts-style display-7">A basket of relatively safe and growth assets
              </p>
              <div class="mb-4">
              </div>
              <div class="counter-container mbr-text mbr-fonts-style display-7">
                <ul>
                  <li>Up to 750% quarterly ROI</li>
                  <li>Duration of 3 - 6 months</li>
                  <li>Monthly bonuses</li>
                  <li>Spark dividends</li>
                </ul>
              </div>
            </div>
            <div class="mbr-section-btn item-footer">
              <a href="/users/register" class="btn item-btn btn-primary display-7">Invest now</a>
            </div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
          <div class="item-wrapper">
            <div class="item-head">
              <h5 class="item-title mbr-fonts-style mb-0 display-5"><strong>Strategic Growth</strong></h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                <strong>$10,000+</strong>
              </h6>
            </div>
            <div class="item-content">
              <p class="mbr-text mbr-fonts-style display-7">
                Hands-off compounding and passive returns</p>
              <div class="mb-4"></div>
              <div class="counter-container mbr-text mbr-fonts-style display-7">
                <ul>
                  <li>Up to 1250% Yearly ROI</li>
                  <li>Duration of 9 - 16 months</li>
                  <li>Monthly bonuses</li>
                  <li>Spark dividends</li>
                  <li>Annual dividends</li>
                </ul>
              </div>
            </div>
            <div class="mbr-section-btn item-footer">
              <a href="/users/register" class="btn item-btn btn-primary display-7">Invest now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section data-bs-version="5.1" class="list1 cid-uKn2z6hjc6" id="list01-12">


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-10 m-auto">
          <div class="content">
            <div class="row justify-content-center mb-5">
              <div class="col-12 content-head">
                <div class="mbr-section-head">
                  <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Got Questions?</strong>
                  </h4>

                </div>
              </div>
            </div>
            <div id="bootstrap-accordion_30" class="panel-group accordionStyles accordion" role="tablist"
              aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse"
                    data-core="" href="#collapse1_30" aria-expanded="false" aria-controls="collapse1">
                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                      How much does delivery cost?
                    </h6>
                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                  </a>
                </div>
                <div id="collapse1_30" class="panel-collapse noScroll collapse" role="tabpanel"
                  aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_30">
                  <div class="panel-body">
                    <p class="mbr-fonts-style panel-text display-7">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum
                      laoreet tincidunt. Proin et sapien scelerisque, ornare lectus eget, iaculis
                      lectus. Pellentesque viverra molestie tortor. Nunc sed interdum est, in maximus
                      diam. Donec eu tellus dictum, gravida velit et, sagittis arcu. Proin et lectus
                      dapibus. Cras fringilla elit velit placerat tortor mollis cursus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse"
                    data-core="" href="#collapse2_30" aria-expanded="false" aria-controls="collapse2">
                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                      What is the estimated delivery time?
                    </h6>
                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                  </a>
                </div>
                <div id="collapse2_30" class="panel-collapse noScroll collapse" role="tabpanel"
                  aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_30">
                  <div class="panel-body">
                    <p class="mbr-fonts-style panel-text display-7">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum
                      laoreet tincidunt. Proin et sapien scelerisque, ornare lectus eget, iaculis
                      lectus. Pellentesque viverra molestie tortor. Nunc sed interdum est, in maximus
                      diam. Donec eu tellus dictum, gravida velit et, sagittis arcu. Proin et lectus
                      dapibus. Cras fringilla elit velit placerat tortor mollis cursus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse"
                    data-core="" href="#collapse3_30" aria-expanded="false" aria-controls="collapse3">
                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                      Do you offer same-day delivery?
                    </h6>
                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                  </a>
                </div>
                <div id="collapse3_30" class="panel-collapse noScroll collapse" role="tabpanel"
                  aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_30">
                  <div class="panel-body">
                    <p class="mbr-fonts-style panel-text display-7">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum
                      laoreet tincidunt. Proin et sapien scelerisque, ornare lectus eget, iaculis
                      lectus. Pellentesque viverra molestie tortor. Nunc sed interdum est, in maximus
                      diam. Donec eu tellus dictum, gravida velit et, sagittis arcu. Proin et lectus
                      dapibus. Cras fringilla elit velit placerat tortor mollis cursus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse"
                    data-core="" href="#collapse4_30" aria-expanded="false" aria-controls="collapse4">
                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                      Can I track my delivery order?
                    </h6>
                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                  </a>
                </div>
                <div id="collapse4_30" class="panel-collapse noScroll collapse" role="tabpanel"
                  aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_30">
                  <div class="panel-body">
                    <p class="mbr-fonts-style panel-text display-7">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum
                      laoreet tincidunt. Proin et sapien scelerisque, ornare lectus eget, iaculis
                      lectus. Pellentesque viverra molestie tortor. Nunc sed interdum est, in maximus
                      diam. Donec eu tellus dictum, gravida velit et, sagittis arcu. Proin et lectus
                      dapibus. Cras fringilla elit velit placerat tortor mollis cursus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse"
                    data-core="" href="#collapse5_30" aria-expanded="false" aria-controls="collapse5">
                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                      What areas do you deliver to?
                    </h6>
                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                  </a>
                </div>
                <div id="collapse5_30" class="panel-collapse noScroll collapse" role="tabpanel"
                  aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_30">
                  <div class="panel-body">
                    <p class="mbr-fonts-style panel-text display-7">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum
                      laoreet tincidunt. Proin et sapien scelerisque, ornare lectus eget, iaculis
                      lectus. Pellentesque viverra molestie tortor. Nunc sed interdum est, in maximus
                      diam. Donec eu tellus dictum, gravida velit et, sagittis arcu. Proin et lectus
                      dapibus. Cras fringilla elit velit placerat tortor mollis cursus.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse"
                    data-core="" href="#collapse6_30" aria-expanded="false" aria-controls="collapse6">
                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">
                      Is there a minimum order requirement for delivery?
                    </h6>
                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                  </a>
                </div>
                <div id="collapse6_30" class="panel-collapse noScroll collapse" role="tabpanel"
                  aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_30">
                  <div class="panel-body">
                    <p class="mbr-fonts-style panel-text display-7">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum
                      laoreet tincidunt. Proin et sapien scelerisque, ornare lectus eget, iaculis
                      lectus. Pellentesque viverra molestie tortor. Nunc sed interdum est, in maximus
                      diam. Donec eu tellus dictum, gravida velit et, sagittis arcu. Proin et lectus
                      dapibus. Cras fringilla elit velit placerat tortor mollis cursus.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section data-bs-version="5.1" class="footer1 cid-uGq2f3bKSD" once="footers" id="footer01-6">

    <% include ./partials/footer %>


  </section>
  <script type="text/plain" data-src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script>
  <script src="assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script>
  <script type="text/plain" data-src="assets/smoothscroll/smooth-scroll.js"></script>
  <script type="text/plain" data-src="assets/ytplayer/index.js"></script>
  <script type="text/plain" data-src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script type="text/plain" data-src="assets/theme/js/script.js"></script>
  
  <% include ./partials/chat %>

  <input name="cookieData" type="hidden" data-cookie-cookiesAlertType='2' data-cookie-customDialogSelector='null'
    data-cookie-colorText='#424a4d' data-cookie-colorBg='rgb(255, 255, 255)' data-cookie-opacityOverlay='0'
    data-cookie-bgOpacity='100' data-cookie-textButton='ACCEPT' data-cookie-rejectText='REJECT'
    data-cookie-colorButton='#2229d1' data-cookie-rejectColor='#ffffff' data-cookie-colorLink='#424a4d'
    data-cookie-underlineLink='true'
    data-cookie-text="We use cookies to give you the best experience as specified in the <a href='/privacy-policy'>cookie policy</a>. Rejecting cookies may make some features unavailable.">
  <input name="animation" type="hidden">
</body>

</html>