<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Discover how we help individuals, families and institutions Trade, distribute and manage their capital to achieve their goals.">
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <title>Robolever | Deploy a 24/7 trading algorithm</title>
  </head>
  <body>
    <div><%- body %></div>

  </body>
</html>
