<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v6.1.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v6.1.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/arrow20-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Display:400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Display:400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Text:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Text:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=aYpOU5"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=aYpOU5" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu6 cid-uZRPBDpXD3" once="menu" id="menu06-0">
	
    <% include ./partials/nav %>
	
</section>
<section data-bs-version="5.1" class="header19 cid-uLjGiileOd" id="header19-1c">
  

  
  
  <div class="container">
    <div class="row">
      <div class="content-wrap col-12 col-md-8">
        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1"><strong>Refund policy</strong></h1>
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article8 cid-uHyv4R7esW" id="article08-p">
  

  
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-10">
          <div class="card-wrapper">
            <div class="card-content-text">
              <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
              <strong>Refund policy:</strong>
            </h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                <strong>disclaimer</strong>
            </h4>
            <ul class="list mbr-fonts-style display-7">
                <li><strong>Robolever  is not available to the general public and is opened only to the qualified members, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between us and its Member.
                </strong></li><br>
                <li><strong>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</strong></li><br>
                <li><strong>Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program first. Always clear all complaint with the administrator.</strong></li><br>
                  
            </ul>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="footer1 cid-uZSOypcEJl" once="footers" id="footer01-7">
	
    <% include ./partials/footer %>
  </section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/masonry/masonry.pkgd.min.js"></script>  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>  <script src="assets/countdown/countdown.js"></script>  <script src="assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>  <script src="assets/theme/js/script.js"></script>  
    
    
  </body>
  </html>