<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v6.1.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v6.1.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/arrow20-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>services</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Display:400,500,600,700,800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Display:400,500,600,700,800&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Text:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Wix+Madefor+Text:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=ipTqsx"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=ipTqsx" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu6 cid-uZRPBDpXD3" once="menu" id="menu06-a">
	
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header1 cid-uZSWbuf0fX" id="header01-c">
	

	
	

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/understanding-liquidity-provision-1-2-900x675.png" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-lg col-md-12">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Advanced trading strategies made simple.</strong></h1>
					<p class="mbr-text mbr-fonts-style mb-4 display-7">
						Control your trades without limits with hedge mode, breakout trades, complex trades with multiple entries, and much more.
					</p>
					<div class="mbr-section-btn mt-3"><a class="btn btn-primary display-7" href="https://mobiri.se">Get started</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="start article2 cid-uZSWkYzuii" id="article02-d">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/dca-622x494.png" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>DCA bots.&nbsp;</strong></h1>
					<p class="mbr-text align-left mbr-fonts-style mb-4 display-7">
					Automate periodic purchases&nbsp;regardless of the market conditions. Leverage our cutting-edge technology and take your DCA strategy to the next level.</p>
					<div class="mbr-section-btn align-left mt-3"><a class="btn btn-primary-outline display-7" href="https://mobiri.se">Get started</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="start article4 cid-uZSWlIOYVV" id="article04-e">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/signals-877x649.png" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
						<strong>Signal Bots.</strong></h1>
					<p class="mbr-text mbr-fonts-style mb-4 display-7">
						Copy expert trading groups and proven bots to automate your entire strategy. It’s like having a professional fund manager, but for your crypto.&nbsp;Set it. Forget it. Profit.</p>
					<div class="mbr-section-btn mt-3"><a class="btn btn-lg btn-primary-outline display-7" href="https://mobiri.se">Get Started</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="start article2 cid-uZSWnEHbAO" id="article02-f">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/grid-900x675.png" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Grid Bots.</strong></h1>
					<p class="mbr-text align-left mbr-fonts-style mb-4 display-7">
					automatically buy the dips and sell the peaks within your predefined range, maximizing profits from every fluctuation.&nbsp;engineered to turn market volatility into your greatest asset</p>
					<div class="mbr-section-btn align-left mt-3">
						<a class="btn btn-primary-outline display-7" href="https://mobiri.se">Get started</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="features036 cid-uZSWF1Pjj3" id="features036-g">
	

	
	

	<div class="container">
		


		<div class="row justify-content-center">
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb active">
				<div class="item-wrapper image-wrapper">
					<img class="w-100" src="assets/images/market-816x607.png" alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0">
				</div>
			</div>

			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						
						<h5 class="card-title mbr-fonts-style display-5"><strong>Arbitrage Hunter</strong></h5>
						<p class="card-text mbr-fonts-style display-7">Capitalize on small price differences across exchanges. Bots&nbsp;designed to find and execute these tiny price gaps across dozens of exchanges, automatically.</p>
						
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class=" align-left item-content">
						
						<h5 class="card-title mbr-fonts-style display-5"><strong>Advanced Backtesting Engine</strong></h5>
						<p class="card-text mbr-fonts-style display-7">
							Simulate your strategy's performance with high-fidelity historical data. Get detailed reports on Profit &amp; Loss, Sharpe Ratio, Max Drawdown, and Win Rate.</p>
						
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						
						<h5 class="card-title mbr-fonts-style display-5"><strong>TradingView bots</strong></h5>
						<p class="card-text mbr-fonts-style display-7">
							Designed to help traders create sophisticated trades automatically based on their TradingView alerts.</p>
						
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						
						<h5 class="card-title mbr-fonts-style display-5"><strong>Performance &amp; Fee Analytics</strong></h5>
						<p class="card-text mbr-fonts-style display-7">
							A transparent dashboard tracking all your bot's activity, fees paid, and net profitability.</p>
						
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						
						<h5 class="card-title mbr-fonts-style display-5">
							<strong>Portfolio management</strong></h5>
						<p class="card-text mbr-fonts-style display-7">
							Track portfolio performance and see the distribution of your funds across exchanges, accounts, and coins.</p>
						
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="footer1 cid-uZSOypcEJl" once="footers" id="footer01-b">
	
    <% include ./partials/footer %>
</section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>